@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

.playfair_display {
    font-family: "Playfair Display", serif;
}

body {
    padding: 40px 0 ;
    background-color: #000;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    color: white;
}

.container {
    max-width: 1370px;
    width: 90%;
    margin: 0 auto;
}

header {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 50px;
}

.header_left a {
    font-weight: 600;
    transition: .3s ease-in-out;
}

.header_left a:hover {
    font-weight: 900;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.header_right a {
    transition: .3s ease-in-out;
}

.header_right a:hover {
    opacity: .5;
}

.creative_design {
    padding: 120px 0 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1066px;
}

.big_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    width: 1188px;
    line-height: 270px;
    text-align: center;
    z-index: 1;
}

.pic {
    position: absolute;
    width: 550px;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pic_left {
    left: -100px;
    bottom: 0;
    background-image: url(./img/right_pic.png);
}

.pic_right {
    top: 50px;
    right: -100px;
    background-image: url(./img/left_pic.png);

}


.creative_design p {
    font-size: 24px;
    width: 600px;
}

#quote {
    all: unset;
    cursor: pointer;
    padding: 20px;
    width: fit-content;
    margin: 0 auto 0 50%;
    font-size: 38px;
    font-weight: 700;
    transition: .3s;
    background-color: #fff;
    color: #000;
}

#quote:hover {
    opacity: .9;
}

.title {
    text-align: center;
    font-size: 81px;
    font-weight: 600;
    margin: 250px 0 50px;
}

.grid_pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    gap: 50px;
}

.grid_pic {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.grid_pic_1 {
    grid-row: 1/9;
    background-image: url(./img/grid_pic_1.png);
}

.grid_pic_2 {
    grid-row: 1/6;
    background-image: url(./img/grid_pic_2.png);
}

.grid_pic_3 {
    grid-row: 6/16;
    background-image: url(./img/grid_pic_3.png);
}

.grid_pic_4 {
    grid-row: 9/15;
    background-image: url(./img/grid_pic_4.png);
}

.grid_pic_5 {
    grid-row: 15/21;
    background-image: url(./img/grid_pic_5.png);
}

.grid_pic_6 {
    grid-row: 16/21;
    background-image: url(./img/grid_pic_6.png);
}

.about_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 40px;
    gap: 50px;
}

.about_text {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about_pic {
    background-image: url(./img/about_pic.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.testimonials {
    width: 85%;
    margin: 0 auto;
}

.testimonials_text {
    text-align: center;
    font-size: 29px;
    margin-bottom: 100px;
}

.testimonials_reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 100px;
}

.review {
    background-color: #fff00033;
    display: flex;
}

.review_pic {
    width: 45%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.review_top .review_pic {
    background-image: url(./img/testimonials_top.png);
}

.review_right .review_pic {
    background-image: url(./img/testimonials_right.png);
}

.review_bottom .review_pic {
    background-image: url(./img/testimonials_bottom.png);
}

.review_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: #181818;
    width: 55%;
}

.review_text h3 {
    font-size: 40px;
}

.review_text p {
    font-size: 15px;
    width: 290px;
    opacity: .8;
}

.review_text button {
    all: unset;
    cursor: pointer;
    width: fit-content;
    font-size: 16px;
    background-image: url(./img/icons/arrow.svg);
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    padding: 10px 40px 10px 0;
    transition: .3s ease-in-out;
}

.review_text button:hover {
    transform: scale(1.1);
}

.review_top,
.review_bottom {
    grid-column: 1/3;
}

.review_bottom {
    flex-direction: row-reverse;
}

.review_right {
    background: #fff;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/3;
}

.review_right .review_text {
    gap: 55px;
}

.review_right .review_text,
.review_right .review_pic {
    width: 100%;
}

#all_reviews {
    all: unset;
    cursor: pointer;
    display: block;
    margin: 0% auto;
    font-size: 22px;
    font-weight: 600;
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 3px;
    transition: .3s ease-in-out;
}

#all_reviews:hover {
    border-radius: 10px;
}

.contact {
    margin-bottom: 300px;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: fit-content;
}

label {
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}

label h3 {
    cursor: pointer;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 10px;
}

form input,
form textarea,
form button {
    all: unset;
    width: 800px;
    font-size: 25px;
}

form input::placeholder,
form textarea::placeholder {
    opacity: .8;
    color: #fff;
}

form textarea {
    width: 800px !important;
    height: 200px !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

form button {
    cursor: pointer;
    padding: 10px 35px;
    width: fit-content;
    color: black;
    background-color: #fff;
    font-size: 38px;
    font-weight: 600;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: .7;
}