body {
    background-color: aliceblue;
}

h1 {
    color: green;
}

button {
    all: unset;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: .3s ease;
}

button:hover{
    background-color: bisque;
}